body {
  margin: 0;
  background: #87ceeb;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

* {
  overflow: hidden;
  box-sizing: border-box;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
  background: radial-gradient(#87ceeb, #1c77c2);
}
